.cabecera{
    width: 100%;
    background-color: #0F2027;
    padding: 10px;
}
.titulo{
    color: white;
    text-align: center;
    font-size: 52px;
}
.portada{
    width: 100%;
    height: 780px;
}